<div class="app-body">

  <app-header></app-header>
  <div class="disclaimer">
    <marquee behavior="" direction="right">
      <span><strong>Disclaimer: </strong></span> <span>Results do not represent expert advice.</span>
    </marquee>
  </div>

<h1 class="app-name">Chest-X Covid-19 checker </h1>
<app-file-upload></app-file-upload>
<app-image-display></app-image-display>
<!-- <div *ngFor= ' let images of UploadedFile'>
  <img src="{{images}}" alt="">
</div> -->

<!-- <button (click) ='getFiles()'>UploadedFile</button> -->


<app-footer></app-footer>
</div>
