<div class="credentials row">
  <img src="assets/images/chestx-logo1.png" alt="" />
  <h3 style="text-align: center">Patient Credentials</h3>
  <form action="" class="col-4">
    <div class="user-info">
      <div>
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          #name
          [(ngModel)]="fullName"
          (change)="newName($event)"
        />
      </div>
      <div>
        <label for="date-of-birth">Date of birth</label>
        <input
          type="date"
          class="form-control"
          name="date-of-birth"
          id="date-of-birth"
          #dob
          [(ngModel)]="dateOfBirth"
          (change)="newDOB($event)"
        />
      </div>
      <div>
        <label for="name">E-mail</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          #email
          [(ngModel)]="emailAddress"
          (change)="newEmail($event)"
        />
      </div>
    </div>
    <div class="nav-btn">
      <button routerLink="/welcome">Back</button>
      <button
        type="submit"
        routerLink="/file-upload"
        (click)="userInformation(name, dob, email)"
        [disabled]="!(emailAddress && dateOfBirth && fullName)"
      >
        Next
      </button>
    </div>
  </form>
</div>
