<div class="credentials">
  <img src="assets/images/chestx-logo1.png" alt="" />
  <h3>Patient Credentials</h3>
  <form action="">
    <div>
      <label for="name">Name</label>
      <input type="text" class="form-control" name="" id="name" />
    </div>
    <div>
      <label for="date-of-birth">Date of birth</label>
      <input
        type="date"
        class="form-control"
        name="date-of-birth"
        id="date-of-birth"
      />
    </div>
    <div>
      <label for="name">E-mail</label>
      <input type="email" class="form-control" name="email" id="email" />
    </div>
  </form>
  <div>
    <button>
      <a routerLink="/welcome">Back</a>
    </button>
    <button>
      <a routerLink="/file-upload">Next</a>
    </button>
  </div>
</div>
