.credentials {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  color: #000;
  font-weight: bold;
}
.credentials div div {
  padding: 5px 0;
}
.user-info {
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  margin: 30px 0;
}
h3 {
  color: #fff;
}
img {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 200px;
}

button {
  width: min-content;
  white-space: nowrap;
  padding: 10px 25px;
  border-radius: 10px;
  border: unset;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  margin: 0 10px;
}
.nav-btn {
  text-align: center;
}
a {
  color: #000;
  font-size: 25px;
}
