input[name='x-ray-image']{
   width: 150%;
    text-align: center;
}

#upload-container{
  width: 80%;
  margin: 0 auto;
}
#reset{
  margin-left: 10px;
}
.buttons{
  display: flex;
  justify-content: flex-end;
}
.upload-error-msg{
  text-align: center;
  margin: 20px auto;
  padding: 10px 30px;
  width: fit-content;
  background-color: bisque;
  border-radius: 3px;
}

.image-preview{
  display: flex;
  justify-content: center;
  margin: 30px 0 50px 0;
  width: 100%;
  img{
    width: 80%;
  }

}
