<img class="logo" src="assets/images/chestx-logo1.png" alt="" />

<!-- progress bar -->
<!-- <div *ngIf='currentFile' class="progress my-3">
  <div class="progress-bar progress-bar-info progress-bar-stripped"
  role="progressbar"
  attr.aria-valuenow = '{{progress}}'
  aria-valuemin = "0"
  aria-valuemax = '100'
  [ngStyle]="{width: progress + '%'}">

  </div>
</div> -->

<!-- Drag and drop -->
<div class="container fileUploadWrapper">
  <!-- The user details are shown here -->
  <div *ngIf="covidResult" class="user-details">
    <div>{{ userInformation.name }}</div>
    <div>{{ userInformation.dob }}</div>
    <div>{{ userInformation.email }}</div>
  </div>
  <!-- The result is shown here after the image is processed -->
  <div *ngIf="covidResult" class="upload-error-msg" role="alert">
    <div class="circle">
      <div class="line"></div>
    </div>
    <div>Result:</div>
    <div>{{ covidResult }} COVID-19</div>
    <div>(E-Mail sent to patient)</div>
  </div>
  <form action="" [formGroup]="form">
    <div class="col-md-12">
      <div
        class="fileupload"
        appDragDropFileUpload
        (click)="fileField.click()"
        (fileDropped)="selectFile($event)"
      >
        <div class="image-preview" *ngIf="pickedImage !== '' && pickedImage">
          <img [src]="pickedImage" alt="" />
        </div>
        <span class="ddinfo" *ngIf="!pickedImage">
          Choose a file or drag here</span
        >
        <input
          type="file"
          name="x-ray-image"
          id="file-upload"
          accept="image/*"
          #fileField
          (change)="selectFile($event)"
          hidden
          multiple
        />
      </div>
    </div>
  </form>
</div>
<div class="" id="upload-container" *ngIf="!covidResult">
  <div>
    <button>
      <a routerLink="/patient-credentials">Back</a>
    </button>
  </div>
  <div class="choose-file">
    <button>
      <label for="file-upload">
        <input
          #reset
          type="file"
          name="x-ray-image"
          id="file-upload"
          accept="image/*"
          (change)="selectFile($event)"
        />
      </label>
    </button>
  </div>
  <div>
    <button class="scan-btn" [disabled]="!selectedFiles" (click)="upload()">
      Analyse
    </button>
  </div>
  <div>
    <button
      id="reset"
      class="reset-btn"
      [disabled]="!selectedFiles && !resetBtn"
      (click)="inputReset(reset)"
    >
      Reset
    </button>
  </div>
</div>
<div class="new-patient">
  <button *ngIf="covidResult">
    <a routerLink="/patient-credentials">New patient</a>
  </button>
</div>
<div class="file-type-info">*CHESTX ONLY SUPPORTS THE UPLOAD OF JPG FILES</div>
